* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: left;
    font-family: 'Exo', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    padding: 0 5%;
}

.header {
    padding: 15px;
    font-family: 'Exo', 'Alegreya Sans', 'Exo', 'Exo Thin', Arial, serif;
    background-color: #364162;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
}

.header h1 .seo {
    color: whitesmoke;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Alegreya Sans', 'Exo', 'Exo Thin', 'Roboto Thin', serif;
    font-size: 25px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 20px;
}

ul a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
}

.image-container {
    width: 50%;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
}

.text-container {
    width: 50%;
    padding: 20px;
}

.main-heading {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 15px;
}

.footer {
    padding: 25px;
    clear: both;
    font-family: 'Roboto Thin', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    text-align: center;
    background-color: #364162;
    margin-left: auto;
    margin-right: auto;
}

.footer h2 {
    font-size: 20px;
    color: whitesmoke;
}

