* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Alegreya Sans', 'Exo', 'Exo Thin', Arial, sans-serif;
}

.header {
    padding: 15px;
    font-family: 'Exo', 'Alegreya Sans', 'Exo', 'Exo Thin', Arial, serif;
    background-color: #364162;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700; /* Adjust the font weight as needed */
}

.header h1 .seo {
    color: whitesmoke;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Alegreya Sans', 'Exo', 'Exo Thin', 'Roboto Thin', serif;
    font-size: 25px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 20px;
}

ul a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/AWMA-homepage.png");
    background-size: cover;
    background-position: center center;
}

.hero2 {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/roomservice360-fall-blog.png");
    background-size: cover;
    background-position: center center;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 15px;
}

.footer {
    padding: 25px;
    clear: both;
    font-family: 'Roboto Thin', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    text-align: center;
    background-color: #364162; /* Set the background color for the footer */
}

.footer h2 {
    font-size: 20px;
    color: whitesmoke; /* Set the text color for the footer heading */
}

