* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: left;
    font-family: 'Exo', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    padding: 0 10%;
}


.header {
    padding: 20px;
    background-color: #364162;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: 600;
}

.header h1 .seo {
    color: whitesmoke;
}

ul a {
    color: #ffffff;
    text-decoration: none;
}

.web-development-projects h2 {
    text-align: center;
}

.web-development-projects p {
    text-align: center;
}

.container {
    display: flex;
}

.image-container {
    width: 50%;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
}

.text-container {
    width: 50%;
    padding: 20px;
}

.main-heading {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 15px;
}

.footer {
    padding: 25px;
    clear: both;
    text-align: start;
    background-color: #364162;
    margin-left: auto;
    margin-right: auto;
}

.footer h2 {
    font-size: 20px;
    color: whitesmoke;
}
